<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheatPy - Cheat in Python Code</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/prism.css">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="navbar">
        <div class="icon">
            <img src="/static/main.png" width="100" alt="">
        </div>
        <div class="heading">Cheat-Py</div>
    </div>

    <ol>
        <li>
            <h1>Hello World in Python</h1>
            <pre class="language-python"><code>print("Hello World")</code></pre>
        </li>

        <li>
            <h1>Variables in Python</h1>
            <pre class="language-python"><code>a=25;
print(a);</code></pre>
        </li>

        <li>
            <h1>Taking Input from user in Python</h1>
            <pre class="language-python"><code>name = input("Enter your name: ")
print(name)</code></pre>
        </li>

        <li>
            <h1>Type Casting in Python</h1>
            <pre class="language-python"><code>age = int(input("Enter your age: "))
print(age)</code></pre>
        </li>

        <li>
            <h1>Range Function in Python</h1>
            <pre class="language-python"><code>for i in range(1,50,5):
    print(i)</code></pre>
        </li>

        <li>
            <h1>Comments in Python</h1>
            <pre class="language-python"><code># This is a single-line comment

"""
This
is a
multi-line
comment
"""</code></pre>
        </li>

        <li>
            <h1>Escape Sequence in Python</h1>
            <p>An escape sequence is a sequence of characters; it doesn't represent itself (but is translated into another character) when used inside string literal or character.</p>
        </li>

        <li>
            <h1>Newline character in Python</h1>
            <pre class="language-python"><code>print("This is /n newline")</code></pre>
        </li>

        <li>
            <h1>Backslash in Python</h1>
            <pre class="language-python"><code>print("\\")</code></pre>
        </li>
        <li>
            <h1>Single Quote in Python</h1>
            <pre class="language-python"><code>print("\'")</code></pre>
        </li>
        <li>
            <h1>Tab in Python</h1>
            <pre class="language-python"><code>print("\t")</code></pre>
        </li>
        <li>
            <h1>Backspace in Python</h1>
            <pre class="language-python"><code>print("This is a backspace\b")</code></pre>
        </li>
        <li>
            <h1>Octal value in Python</h1>
            <pre class="language-python"><code>print("\ooo")</code></pre>
        </li>
        <li>
            <h1>Hex value in Python</h1>
            <pre class="language-python"><code>print("\xhh")</code></pre>
        </li>
        <li>
            <h1>Carriage Return in Python</h1>
            <pre class="language-python"><code>pint("\r")</code></pre>
        </li>
        <li>
            <h1>String in Python</h1>
            <pre class="language-python"><code>str="Python"
print("string is ",str)</code></pre>
        </li>
        <li>
            <h1>Slicing in Python</h1>
            <pre class="language-python"><code>var_name[1 : 5]</code></pre>
        </li>
        <li>
            <h1>isalnum() method in Python</h1>
            <pre class="language-python"><code>string_variable.isalnum()</code></pre>
        </li>
        <li>
            <h1>isalpha() method in Python</h1>
            <pre class="language-python"><code>string_variable.isalpha()</code></pre>
        </li>
        <li>
            <h1>isdecimal()  method in Python</h1>
            <pre class="language-python"><code>string_variable.isdecimal()</code></pre>
        </li>
        <li>
            <h1>isdigit() method in Python</h1>
            <pre class="language-python"><code>string_variable.isdigit()</code></pre>
        </li>
        <li>
            <h1>islower() method in Python</h1>
            <pre class="language-python"><code>string_variable.islower()</code></pre>
        </li>
        <li>
            <h1>isspace() method in Python</h1>
            <pre class="language-python"><code>string_variable.isspace()</code></pre>
        </li>
        <li>
            <h1>isupper() method in Python</h1>
            <pre class="language-python"><code>string_variable.isupper()</code></pre>
        </li>
        <li>
            <h1>lower() method in Python</h1>
            <pre class="language-python"><code>string_variable.lower()</code></pre>
        </li>
        <li>
            <h1>upper() method in Python</h1>
            <pre class="language-python"><code>string_variable.upper()</code></pre>
        </li>
        <li>
            <h1>strip() method in Python</h1>
            <pre class="language-python"><code>string_variable.strip()</code></pre>
        </li>
        <li>
            <h1>List in Python</h1>
            <pre class="language-python"><code>var_name = [element1, element2, ...]</code></pre>
        </li>
        <li>
            <h1>Index method in list of Python</h1>
            <pre class="language-python"><code>list.index(element)</code></pre>
        </li>
        <li>
            <h1>Append method in list of Python</h1>
            <pre class="language-python"><code>list.append(element)</code></pre>
        </li>
        <li>
            <h1>extend method in list of Python</h1>
            <pre class="language-python"><code>list.extend(iterable)</code></pre>
        </li>
        <li>
            <h1>insert method in list of Python</h1>
            <pre class="language-python"><code>list.insert(position, element)</code></pre>
        </li>
        <li>
            <h1>pop method in list of Python</h1>
            <pre class="language-python"><code>list.pop(position)</code></pre>
        </li>
        <li>
            <h1>remove method in list of Python</h1>
            <pre class="language-python"><code>list.remove(element)</code></pre>
        </li>
        <li>
            <h1>clear method in list of Python</h1>
            <pre class="language-python"><code>list.clear()</code></pre>
        </li>
        <li>
            <h1>count method in list of Python</h1>
            <pre class="language-python"><code>list.count(value)</code></pre>
        </li>
        <li>
            <h1>reverse method in list of Python</h1>
            <pre class="language-python"><code>list.reverse()</code></pre>
        </li>
        <li>
            <h1>sort method in list of Python</h1>
            <pre class="language-python"><code>list.sort(reverse=True|False)</code></pre>
        </li>
        <li>
            <h1>Tuples in Python</h1>
            <pre class="language-python"><code>tuple = ("Python", "Java", "C++", "JavaScript")</code></pre>
        </li>
        <li>
            <h1>Count method in Python</h1>
            <pre class="language-python"><code>tuple.count(value)</code></pre>
        </li>
        <li>
            <h1>Index method in Python</h1>
            <pre class="language-python"><code>tuple.index(value)</code></pre>
        </li>
        <li>
            <h1>Set Creation method1 in Python</h1>
            <pre class="language-python"><code>var_name = {element1, element2, ...}</code></pre>
        </li>
        <li>
            <h1>Set Creation method2 in Python</h1>
            <pre class="language-python"><code>var_name = set([element1, element2, ...])</code></pre>
        </li>
        <li>
            <h1>add() method in Python</h1>
            <pre class="language-python"><code>set.add(element)</code></pre>
        </li>
        <li>
            <h1>clear() method in Python</h1>
            <pre class="language-python"><code>set.clear()</code></pre>
        </li>
        <li>
            <h1>discard() method in Python</h1>
            <pre class="language-python"><code>set.discard(value)</code></pre>
        </li>
        <li>
            <h1>intersection() method in Python</h1>
            <pre class="language-python"><code>set.intersection(set1, set2 ... etc)</code></pre>
        </li>
        <li>
            <h1>issubset() method in Python</h1>
            <pre class="language-python"><code>set.issubset(set)</code></pre>
        </li>
        <li>
            <h1>pop() method in Python</h1>
            <pre class="language-python"><code>set.pop()</code></pre>
        </li>
        <li>
            <h1>remove() method in Python</h1>
            <pre class="language-python"><code>set.remove(item)</code></pre>
        </li>
        <li>
            <h1>union() method in Python</h1>
            <pre class="language-python"><code>set.union(set1, set2...)</code></pre>
        </li>
        <li>
            <h1>Dictionary Creation in Python</h1>
            <pre class="language-python"><code>fruits = {"Apple": 100, "Mango": 50 ...}</code></pre>
        </li>
        <li>
            <h1>Empty Dictionary in Python</h1>
            <pre class="language-python"><code>mydict={}</code></pre>
        </li>
        <li>
            <h1>Adding element to a dictonary in Python</h1>
            <pre class="language-python"><code>fruits["Apple"] = 200</code></pre>
        </li>
        <li>
            <h1>Updating element in Python</h1>
            <pre class="language-python"><code>fruits["Apple"] = 50</code></pre>
        </li>
        <li>
            <h1>Deleting an element in Python</h1>
            <pre class="language-python"><code>del <dictionary>[<key>]</code></pre>
        </li>
        <li>
            <h1>If else in Python</h1>
            <pre class="language-python"><code>if a>10:
    print("a is greater than ten")

else:
    print("a is less than ten")</code></pre>
        </li>
        <li>
            <h1>For Loop in Python</h1>
            <pre class="language-python"><code>for i in range(1,101,1):
    print(i)</code></pre>
        </li>
        <li>
            <h1>While Loop in Python</h1>
            <pre class="language-python"><code>i=1
while(i<=100):
    print(i)
    i=i+1</code></pre>
        </li>
        <li>
            <h1>Break Statement in Python</h1>
            <pre class="language-python"><code>for i in range(1,101,1):
    print(i ,end=" ")
    if(i==50):
        break
    else:
        print("Mississippi")
        print("Thank you")</code></pre>
        </li>
        <li>
            <h1>Continue Statement in Python</h1>
            <pre class="language-python"><code>for i in [2,3,4,6,8,0]:
    if (i%2!=0):
        continue
    print(i)</code></pre>
        </li>
        <li>
            <h1>Functions in Python</h1>
            <pre class="language-python"><code>def morning():
    print("Good Morning")

moning()</code></pre>
        </li>

        <li>
            <h1>Return statement in Python function</h1>
            <pre class="language-python"><code>return a+b</code></pre>
        </li>

        <li>
            <h1>Arguments in python function</h1>
            <pre class="language-python"><code>def morning(name):
    return f"Good Morning {name}"

print(morning("Sam"))</code></pre>
        </li>

        <li>
            <h1>Opening a file in Python</h1>
            <pre class="language-python"><code>file = open("file.txt", 'r')
content = file.read()
print(content)</code></pre>
        </li>

        <li>
            <h1>Modes of file handling in Python</h1>
            <ul style="list-style: square;">
                <li><b>r</b> - read <b></b></li>
                <li><b>w</b> - write <b></b></li>
                <li><b>a</b> - append <b></b></li>
                <li><b>r+</b> - read and write <b></b></li>
                <li><b>w+</b> - write and read <b></b></li>
                <li><b>a+</b> - append and read <b></b></li>
            </ul>
        </li>

        <li>
            <h1>Try except in Python</h1>
            <pre class="language-python"><code>try:
    #statement
except:
    #statement</code></pre>
        </li>
    </ol>

    <footer>
        <div class="details">This is part one- Cheat-Py</div>
        <div class="logo"><img src="/static/main.png" alt="Logo"></div>
        <div class="copyright">Copyright &copy; CheatPy</div>
    </footer>
</body>
<script src="/static/prism.js"></script>
</html>